<!DOCTYPE html>
<html>
<head>
	<title>HPE OneView</title>
	<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Livvic:500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela&display=swap" rel="stylesheet">
	<body>
		<div class="left">
			
		<div class="contcont">
		<div class="logopartback"></div>
		<div class="logopart">
		</div>
		<img class="hplogo" src="{{ url_for('static', filename='logo.png') }}">
	</div>
	<p class="heading">OneView Assistant</p>
	<br>
	<div class="convo">
				<div class="convomsgs">
					<div class="rmsg">
						<p class="rmsgtxt">Hi how are you?</p>
						<p class="us1">Assistant<span class="time">22:05</span><span class="vote"><i class="material-icons">thumb_down</i></span></p>
					</div>
					<div class="smsg">
						<p class="smsgtxt">I am good, how are you?</p>
						<p class="us2">You<span class="time">22:05</span></p>
					</div>
					<div class="rmsg">
						<p class="rmsgtxt">Hi how are you? whatsup. i am in your city. lets meet for lunch?</p>
						<p class="us1">Assistant<span class="time">22:05</span><span class="vote"><i class="material-icons">thumb_down</i></span></p>
					</div>
					<div class="rmsg">
						<p class="rmsgtxt">I am good, how are you?</p>
						<p class="us1">Assistant<span class="time">22:05</span><span class="vote"><i class="material-icons">thumb_down</i></span></p>
					</div>
					<div class="rmsg">
						<p class="rmsgtxt">Hi how are you?</p>
						<p class="us1">Assistant<span class="time">22:05</span><span class="vote"><i class="material-icons">thumb_down</i></span></p>
					</div>
					<div class="smsg">
						<p class="smsgtxt">I am good, how are you?</p>
						<p class="us2">You<span class="time">22:05</span></p>
					</div>
	
				</div>
	
	
	
	
	
	
	
	
	
				<div class="convoinput">
					<form>
						<input class="entertxt" type="text"><i class="sendbut material-icons">send</i>
					</form>
				</div>
			</div>
		</div>
	<div class="right">
		<p class="rechead">
			Recommended Questions
		</p>
		<p class="rec" onclick='anim(0)'>
			What do you mean by SSP?
		</p>
		<p class="rec" onclick='anim(1)'>
			Can I create a template from an existing profile?
		</p>
		<p class="rec" onclick='anim(2)'>
			Can I do a migration from the Virtual Connect Manager to an HPE OneView environment without the need to power off servers ?
		</p>
	</div>
	<script src="siema.min.js"></script>
	<script>
		const mySiema = new Siema();
		document.querySelector('.prev').addEventListener('click', () => mySiema.prev());
		document.querySelector('.next').addEventListener('click', () => mySiema.next());
	</script>
	<script>
		function anim(name) {
			if (document.getElementsByClassName('rec')[name].classList.contains('recanim')){
				document.getElementsByClassName('rec')[name].classList.remove("recanim");
				// document.getElementsByClassName('rec')[name].classList.add("recanim");
				console.log(document.getElementsByClassName('rec')[name].classList);
			}
	
		  document.getElementsByClassName('rec')[name].classList.add("recanim");
	
		} 
		
	</script>
	
	
	</body>
	</html>
